<ul class="adres">
  <li class="adres"><a href="mailto:e-hulaserwis@gmail.com">e-hulaserwis@gmail.com</a></li>
  <li class="adres"><a href="https://goo.gl/maps/grojoJULP27oKzB27"></a>Ul. Raszyńska 21 lokal 1</li>
  <li class="adres">02-033 Warszawa</li></a>
  <li class="adres"><a href="tel:+48668-155-793">668-155-793</a></li>
</ul>
<ul class="social-links adres">
  {% for link in site.data.social.links %}
  <li>
    <a href="{{ link.url }}" target="_blank" rel="noopener"><span class="fab {{ link.icon }}"
        aria-hidden="true"></span><span class="screen-reader-text">{{ link.title }}</span></a>
  </li>
  {% endfor %}
</ul><!-- .social-links -->
