---
layout: body
---

<div class="outer">
  <div class="inner">

    <header class="page-header inner-small">
      <h1 class="page-title line-top">{{ page.title }}</h1>
      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <p class="page-subtitle">{{ page.subtitle }}</p>
      {% endif %}
    </header><!--.page-header -->
    <div class="portfolio-feed layout-{{ page.layout_style }}">
      {% assign display_projects = '/projects' | get_pages | sort: 'date' | reverse %}
      {% for post in display_projects %}
      <article class="post project">
        <a href="{{ post.url | relative_url }}" class="post-link">
          {% assign thumb_img_path_is_not_empty = post.thumb_img_path | is_not_empty %}
          {% if thumb_img_path_is_not_empty %}
          <div class="post-thumbnail">
            <img class="thumbnail" src="{{ post.thumb_img_path | relative_url }}" alt="{{ post.title }}" />
          </div>
          {% endif %}
          <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>
          </header>
        </a><!-- .post-link -->
      </article><!-- .project -->
      {% endfor %}
    </div><!-- .portfolio-feed -->
    <!—wrapper -->
<div id="facebook_feed">
<h3>The Latest</h3>

<!—loading icon -->
<div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>

<!—feed container -->
<div id="ajax_response">
</div>

</div>

    <!-- Pagination TBD -->
    <!--
    <nav class="pagination">
      <div class="nav-links">
        <a class="newer-posts button" href="#"><span class="icon-angle-left" aria-hidden="true"></span><span
            class="screen-reader-text">Prev</span></a>
        <span class="page-number">Showing page X of Y</span>
        <a class="older-posts button" href="#"><span class="screen-reader-text">Next</span><span class="icon-angle-right"
            aria-hidden="true"></span></a>
      </div>
    </nav>
    -->

  </div><!-- .inner -->
</div><!-- .outer-->
<script>


//initial AJAX function

const facebook_feed = function(){
	$.ajax({
			type: 'GET',
			url: 'includes/facebook_feed.php',
			success: function(response) {
				$('.sk-cube-grid').hide();
				$('#ajax_response').html(response).fadeIn();
				},
			error: function(){
				$('#ajax_response').html('<p><span>Something went wrong, please hit F5 to try again!</span></p>');
				}
		});
	}
facebook_feed();

//Load more function

const facebook_feed_next = function(){
	$.ajax({
			type: 'GET',
			url: 'includes/facebook_feed_next.php',
			data: { 'feed_next':feed_next},
			success: function(response) {
				$('.sk-cube-grid').hide();
				$('#ajax_response').append(response);
			  	},
			error: function(){
				$('#ajax_response').html('<p><span>Something went wrong, please hit F5 to try again!</span></p>');
			  	}
		});
	}

var feed_next = '';
$(document).on('click', '.load_more a', function(e){
		e.preventDefault();
		$('.load_more a').replaceWith('<div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div>');
		feed_next = $(this).attr('href');
		facebook_feed_next();
	});
</script>
